---
layout: default
---

{% pattern banner/banner banner="banner-1" button_text="View Now" button_url="/products/" heading="Shop the easy way" text="Comfort items at the click of a button, 1000’s of items available."%}

<div class="grid">
  <div class="unit [ xs-1 m-1-2 ]">
    {% pattern cards/book-icon image="/images/sale-card/home.jpg" title="Home & Accessories" button_text="View Now" button_url="/products/" %}
  </div>
  <div class="unit [ xs-1 m-1-2 ]">
    {% pattern cards/book-icon image="/images/sale-card/lego.jpg" title="Kids Toys" button_text="View Now" button_url="/products/" %}
  </div>
</div>

<div class="pad-t gutter">
  {% pattern leftovers/book-line %}
</div>

<div class="grid gutter-1-8">
  {% for product in site.products limit:4 %}
  <div class="unit [ xs-1 s-1-2 m-1-3 l-1-4 ] island-1-4">
    {% pattern cards/product-card data=product  button_text="Add to Cart" button_url="/products/" %}
  </div>
  {% endfor %}
</div>


<div class="grid">
  <div class="unit s-1 l-2-3">
    <div class="island">
      {% pattern cards/tab-card-button image="/images/sale-card/sub-selector.jpg" button_text="View Now" button_url="/products/" %}
    </div>
  </div>

  <div class="unit xs-0 s-0 m-0 l-1-3 island">
    <div class="pad-b-1-2">
      {% pattern cards/tab-card-image image="/images/sale-card/baby-yoda.jpg" tag="Baby Yoda" %}
    </div>

    <div class="pad-t">
      {% pattern cards/tab-card-image image="/images/sale-card/unstable-unicorns.jpg" tag="Unstable Unicorn" %}
    </div>
  </div>
</div>

<div class="grid">
  <div class="unit s-1-2 m-1-2 l-0 gutter pad-b">
    <div class="">
      {% pattern cards/tab-card-image image="/images/sale-card/baby-yoda.jpg" tag="Baby Yoda" %}
    </div>
  </div>

  <div class="unit s-1-2 m-1-2 l-0 gutter pad-b">
    <div class="">
      {% pattern cards/tab-card-image image="/images/sale-card/unstable-unicorns.jpg" tag="Unstable Unicorn" %}
    </div>
  </div>
</div>

<div class="pad-t gutter">
  {% pattern leftovers/book-line %}
</div>

<div class="grid gutter-1-8">
  {% for product in site.products limit:4 %}
  <div class="unit [ xs-1 s-1-2 m-1-3 l-1-4 ] island-1-4">
    {% pattern cards/product-card data=product  button_text="Add to Cart" button_url="/products/" %}
  </div>
  {% endfor %}
</div>

<div class="grid">
  <div class="unit xs-0 s-1 m-1-2 gutter pad-b">
    {% pattern cards/sale-card image="/images/sale-card/mug-sale.jpg" title="10% off all Blankets" %}
  </div>

  <div class="unit xs-0 s-1 m-1-2 gutter pad-b">
    {% pattern cards/sale-card image="/images/sale-card/blanket-sale.jpg" title="20% off all Cups" %}
  </div>
</div>

<div class="grid">
  <div class="unit xs-0 s-0 m-0 l-1-3 gutter pad-b">
    {% pattern leftovers/app-button %}
  </div>

  <div class="unit s-1 m-1 l-2-3">
    {% pattern sections/nav %}
  </div>
</div>
