.flag-optional {
  color: #999;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted {
  background-color: var(--color-primary-light);
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}

.action-card {
  border-radius: .6em;
  overflow: hidden;
  box-shadow: 0 .1em .4em rgba(0, 0, 0, .5);
}

.corner-r {
  border-radius: .6em;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid var(--color-primary);
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--color-secondary);
}

.searchTerm:focus{
  color: var(--color-primary);
}


@media only screen and (min-width: 38em) {

  .gtmo-left {
    text-align: left;
  }

}

.search input {
  height: auto;
}

.font-wh {
  font-weight: 500;
}
